test-clang
test-gcc
test-clang-O1
test-clang-O2
test-clang-O3
test-gcc-O1
test-gcc-O2
test-gcc-O3
bechmarks/benchmark-clang
bechmarks/benchmark-clang-O1
bechmarks/benchmark-clang-O1-mavx
bechmarks/benchmark-clang-O2
bechmarks/benchmark-clang-O2-mavx
bechmarks/benchmark-clang-O3
bechmarks/benchmark-clang-O3-mavx
bechmarks/benchmark-clang-mavx
bechmarks/benchmark-gcc
bechmarks/benchmark-gcc-O1
bechmarks/benchmark-gcc-O1-mavx
bechmarks/benchmark-gcc-O2
bechmarks/benchmark-gcc-O2-mavx
bechmarks/benchmark-gcc-O3
bechmarks/benchmark-gcc-O3-mavx
bechmarks/benchmark-gcc-mavx
*/*.s
.cache/
